includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 2
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - postman-smtp.php
        - Postman/
    ignoreErrors:
        - '#Constant WP_PLUGIN_DIR not found\.#'
        - '#Constant POST_URL not found\.#'
        - '#Constant WPINC not found\.#'